mixin product-tabs(productIndex)
  include product-tabs.data.pug
  -
    var productInfoPart1 = infoPart1[productIndex]

  .div-block-25
    .w-tabs(data-duration-in="300", data-duration-out="100")
      +tabs([
        {
          'id': 'tab-21',
          'text': '⚡️ Живые занятия',
          'isActive': true,
        },
        {
          'id': 'tab-22',
          'text': 'Домашнее задание',
        },
      ], 'tabs tabs-menu w-tab-menu')
        +tabs-item('tab-21', true, 'some')
          .schedule-container
            h6= productInfoPart1.title
            .regular-text.wow.fadeInUp= productInfoPart1.subtitle
            .small-break
            .regular-text.wow.fadeInUp= productInfoPart1.description
            .small-break

            .video-container.small-container.wow.fadeInUp
              .video-2.w-video.w-embed.wow.fadeInUp
                +embed-responsive()
                  iframe(
                    src=productInfoPart1.videoLink
                    allowtransparency="true",
                    frameborder="0",
                    scrolling="no",
                    class="wistia_embed",
                    name="wistia_embed",
                    allowfullscreen,
                    mozallowfullscreen,
                    webkitallowfullscreen,
                    oallowfullscreen,
                    msallowfullscreen,
                    width="1270",
                    height="715",
                    loading="lazy"
                  )
            .small-break

        +tabs-item('tab-22')
          .schedule-container
            h6= infoPart2.title
            .regular-text= infoPart2.subtitle
            .small-break
            .regular-text= infoPart2.description
            .small-break

            picture
              source(
                type="image/webp",
                srcset="img/homework.webp",
                sizes="(max-width: 991px) 100vw, (max-width: 1279px) 94vw, (max-width: 1439px) 1198px, 1358px"
              )
              img(
                src="img/homework.png",
                sizes="(max-width: 991px) 100vw, (max-width: 1279px) 94vw, (max-width: 1439px) 1198px, 1358px",
                alt='homework',
                class="image-15",
                loading="lazy"
              )

            .small-break
