mixin section-video-bootcamp(productIndex)
  include product-info.data.pug

  - var info = productInfo[productIndex]

  +section-row-test-small(info)
  .blog-break
  .video-container.small-container.wow.fadeInUp
    .video-2.w-video.w-embed.wow.fadeInUp
      +embed-responsive()
        iframe(
          src=info.videoLink,
          allowtransparency="true",
          frameborder="0",
          scrolling="no",
          class="wistia_embed",
          name="wistia_embed",
          allowfullscreen,
          mozallowfullscreen,
          webkitallowfullscreen,
          oallowfullscreen,
          msallowfullscreen,
          width="790",
          height="444",
          loading="lazy"
        )

  .break
  .section.small-section
    .w-layout-grid.metric-grid.three.wow.fadeInUp
      each  metric in info.metrics
        +metric-item(metric, 'small-text')
