mixin products-wrapper(animation)

  include products-wrapper.data.pug

    .w-layout-grid.three-column-nav
      each product in products
        a.nav-card.w-inline-block(class=animation, href=product.url)
          div(class=product.classBg + ' bootcamp-card-image nav-bootcamp card-bottom')
            .bootcamp-tools
              each tool in product.bootcampTools
                +product-tool(tool.className, tool.src, tool.sizes, tool.alt, tool.count)
          .card-body
            .inline
              img.stars(src="img/logos/star.svg", alt="stars for rating", loading="lazy")
              +product-rating(product.rating, 'small-text')
            .tiny-break
            h6= product.title
            .small-text.black= product.employment + ' · ' + product.duration
            .full-line
            h3.small-text= product.description
            .small-break
            div(class=product.btnClass) Присоединиться к курсу
