mixin section-title-half-img-text(data)

  h2.title.wow.fadeInUp(id=data.id)= data.title
  h3.wow.fadeInUp= data.subtitle

  .teacher-block
    .w-layout-grid.teacher-grid
      .teacher-image.wow.fadeInUp
      div
        .large-text.wow.fadeInUp
          strong.bold-text-4= data.author
        .small-text.wow.fadeInUp= data.authorRole
        .small-break
        .regular-text= data.description
        br
        br
        a.outline.w-inline-block.wow.fadeInUp(href="https://calendly.com/loveng-by/20min", target="_blank")= data.btn
        .small-break
