mixin nav-cards-item(card)

    a.nav-card.w-inline-block(class=animation, href=card.link, data-toggle="modal")
      .bootcamp-card-image.nav-bootcamp(class=card.className)
      .card-body
        h6= card.title
        .small-text= card.description

        .small-break
        if card.btnWithImg
          div(class=card.btnClass)
            img(
              src=card.btnSrc,
              loading="lazy",
              alt='logo ' + card.title,
              class=card.btnImgClass
              )
            div= card.btnText
        else
          .text-link= card.btnText


mixin nav-cards(cards, className, animation)

  .w-layout-grid.three-column-nav(class=className)
    each card in cards
      +nav-cards-item(card, animation)
